# Binaries and Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Env and secrets
.env
.env.local
.env.*.local

# Dependency directories
node_modules/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
